:root {
    --primary-color: #005a2a;
    --secondary-color: #005a2a;
    --hover-color: #00803c;
    --text-color: #333;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*  ====================================
                    NAVBAR
    ====================================*/

    .navbar {
        background-color: var(--primary-color);
        font-size: 1.4rem;
        height: 70px;
    }
    
    .navbar-brand-img {
        height: 60px;
        width: auto;
    }
    
    .nav-link {
        color: #fff;
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
    }
    
    .nav-link:hover {
        color: #fff;
    }
    
    .nav-item {
    width: 160px;
    text-align: center;
    border-radius: 20px;
    transition: .3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .nav-item:hover {
        background-color: var(--secondary-color);
    }
    
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .nav-user {
        font-size: 1rem;
    }
    
    .user-setting {
        position: absolute;
        display: flex;
        top: -6px;
        right: 70px;
    }
    
    .nav-user-link {
        font-size: 12px;
        font-weight: 300px;
    }

/* SEARCH */

.nav-user {
    align-items: center;
}

.navbar-search {
    background-color: #fff;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 17px;
    margin-left:300px;
}

.navbar-search-input {
    padding-left: 12px;
    border: none;
    outline: none;
}

.navbar-search-input:focus {
    border: none;
    outline: none;
}

.navbar-search-btn {
    line-height: 30px;
    padding: 0 8px;
    border: none;
    border-left: 1px solid #ccc;
    color: var(--secondary-color);
    background-color: #fff;
    cursor: pointer;
}

.navbar-search-btn:focus {
    outline: none;
}

.navbar-search-btn:hover {
    color: var(--hover-color);
    background-color: #ccc;
}

/* CART */

.nav-cart {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 17px;
    margin-left: 20px;

}

/*  ==============================
             CAROUSEL 
    ==============================*/
.carousel-inner img {
    width: 100%;
    aspect-ratio: 4;
    object-fit: fill;
}

/*  ================================
                FOOTER
    ================================*/

.footer-content {
    background-color: var(--primary-color);
    margin-top: 16px;
    padding-top: 24px;
    color: white;
    height: 300px;
}

.footer-img {
    width: 150px;
}

.footer-address, .footer-logo {
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
}

.footer-lincense {
    font-size: 0.8rem;
    margin: 60px;
    text-align: center;
}

**************************
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  
  .container {
    max-width: 1000px;
    margin:auto;
    display:flex;
    padding: 0%;
  }   

  button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    margin: 0 10px;
  }
  
  button:hover {
    background-color: darkgreen;
  }

  /* phan hien thi san pham va phan trang */
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2px 4px;
    margin: 0 22px;
    padding: 12px 10px;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    /* border: black solid,1px; */
  }
  
  .grid-img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
    align-self: center;
  }

  .checkPrice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  ul.pagination-list {
    list-style-type: none;
    margin-left: 460px;
    margin-top: 25px;
  }
  
  .pagination-list {
    display: flex;
    margin: auto;
  }
  
  .pagination-list button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .pagination-list button.active {
    background-color:yellowgreen;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
  }
  